<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catálogo | CosmeLogix</title>

    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/catalogo.css">

</head>

<body>

  {% include "components/header_cliente.html" %}

<section class="catalogo">

    <div class="catalogo-header">

        <h1>Catálogo de Productos</h1>

        <p>
            Explora todos nuestros productos de belleza y cuidado personal.
        </p>

    </div>

    <div class="catalogo-filtros">

        <input
            type="text"
            id="buscar"
            placeholder="Buscar productos..."
        >

        <select id="categoria">

            <option value="">Todas las categorías</option>

            <option value="Maquillaje">Maquillaje</option>

            <option value="Cuidado Facial">Cuidado Facial</option>

            <option value="Cuidado Capilar">Cuidado Capilar</option>

            <option value="Fragancias">Fragancias</option>

        </select>

    </div>

    <div
        id="catalogo-productos"
        class="productos-grid">

    </div>

</section>
<script src="/static/js/header_cliente.js"></script>
<script src="/static/js/auth.js"></script>
<script src="/static/js/catalogo.js"></script>

</body>

</html>