<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalle del Pedido | CosmeLogix</title>

    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/detalle_pedido.css">

</head>

<body>

   {% include "components/header_cliente.html" %}

<main class="contenedor-detalle">

    <h1>Detalle del Pedido</h1>

    <div id="detalle-pedido">

        <!-- detalle_pedido.js cargará todo aquí -->

    </div>

</main>
<script src="/static/js/header_cliente.js"></script>
<script src="/static/js/auth.js"></script>
<script src="/static/js/detalle_pedido.js"></script>

</body>

</html>