<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Historial | CosmeLogix</title>

    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/historial.css">

</head>

<body>

<header class="navbar">

    <a href="/" class="logo">

        <img
            src="/static/img/logo-cosmelogix.jpg"
            alt="CosmeLogix"
        >

        <span>CosmeLogix</span>

    </a>

    <nav>

        <a href="/">Inicio</a>

        <a href="/cliente/catalogo">
            Catálogo
        </a>

        <a href="/cliente/historial">
            Historial
        </a>

    </nav>

    <div class="acciones">

        <a
            href="/cliente/login"
            class="btn-login"
        >
            Iniciar sesión
        </a>

    </div>

</header>

<main class="contenedor-historial">

    <h1>Historial de Compras</h1>

    <div id="lista-historial">

    </div>

</main>

<script src="/static/js/historial.js"></script>

</body>
</html>