<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Historial | CosmeLogix</title>

    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/historial.css">

</head>

<body>

  {% include "components/header_cliente.html" %}

<main class="contenedor-historial">

    <h1>Historial de Compras</h1>

    <div id="lista-historial">

    </div>

</main>
<script src="/static/js/header_cliente.js"></script>
<script src="/static/js/historial.js"></script>

</body>
</html>