<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CosmeLogix | Iniciar Sesión</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/login.css">

</head>

<body>

    <div class="login-card">

        <img
            src="/static/img/logo-cosmelogix.jpg"
            class="logo"
            alt="CosmeLogix"
        >

        <h1>CosmeLogix</h1>

        <p class="subtitulo">

            Plataforma de Gestión Empresarial

        </p>
        <h2>

            Iniciar sesión

        </h2>

        <p class="descripcion">

            Inicia sesión para realizar tus compras y seguir tus pedidos.

        </p>

        <form id="login-form">

            <div class="campo">

                <label>Usuario</label>

                <input
                    id="username"
                    type="text"
                    required
                >

            </div>

            <div class="campo">

                <label>Contraseña</label>

                <input
                    id="password"
                    type="password"
                    required
                >

            </div>
            <div id="error" class="error-message" style="display:none;"></div>
            <div class="login-actions">
                <button type="submit" class="btn-login">
                    Ingresar
                </button>

                <a href="/cliente/registro" class="btn-register">
                    Crear cuenta
                </a>
            </div>

          </form>
        <footer>

            © 2026 CosmeLogix

        </footer>

    </div>

    <script src="/static/js/login.js"></script>

</body>

</html>