<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Seguimiento | CosmeLogix</title>

    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/seguimiento.css">

</head>

<body>

  {% include "components/header_cliente.html" %}
  
<main class="contenedor-seguimiento">

    <h1>

        Seguimiento del Pedido

    </h1>

    <div id="seguimiento">

    </div>

</main>
<script src="/static/js/header_cliente.js"></script>
<script src="/static/js/auth.js"></script>
<script src="/static/js/seguimiento.js"></script>

</body>
</html>