<header class="navbar">

        <a href="/" class="logo">

            <img src="/static/img/logo-cosmelogix.jpg" alt="CosmeLogix">

            <span>CosmeLogix</span>

        </a>

        <nav>

            <a href="/">Inicio</a>

            <a href="/cliente/catalogo">Catálogo</a>

            <a href="/cliente/nosotros">Nosotros</a>

            <a href="/cliente/contacto">Contacto</a>

        </nav>

        <div class="acciones">
            <div id="contenedor-sesion">

                <a href="/cliente/login"
                class="btn-login"
                id="btn-login">

                    Iniciar sesión

                </a>

                <a href="/cliente/perfil"
                class="btn-login oculto"
                id="btn-cuenta">

                    Mi cuenta

                </a>

            </div>
           
            <a href="/cliente/carrito" class="btn-carrito">
                🛒
            </a>

        </div>

    </header>
    